.navbar, .section-footer {
    height: 100%;
    background-color: #3a546d;
}

.navbar {
    color: #fff;
    text-transform: uppercase;
}

.section-intro, .section-about {
    background-color: #00bc9c;
    color: #fff;
}

.section-intro img {
    width: 200px;
}

.title {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 25px;
}

.star-line {
    text-align: center;
    font-size: 50px;
}

.star-line::before,
.star-line::after {
    content: "\2015";  
}

.img-fluid {
    border-radius: 25.8px;
}
.section-about {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
}

.about-info {
    font-size: 22px;
    word-spacing: 3px;
}

.bt-download {
    display:flex;
    justify-content: center;
    align-items: center;    
}

.bt-download i {
    margin-right: 10px;
}

.btn {
    color: #fff;
    padding: 5px 10px;
}

.btn.btn_download {
    border: 2px #fff solid;
}
.btn.btn_download:hover{
    background-color: #fff;
}

.form-inner {
    width: 70%;
    margin:0 auto;
}

.form-control::placeholder{
    color: #000;
}

.btn_send {
    background-color: #00bc9c;
}

.ft-content {
    font-size: 15px;
    color: #fff;
    text-align: center;
}

.ft-info i {
    padding: 10px;
    margin: 5px;
    border: 1px #fff solid;
    border-radius: 50px;
}

#link_green {
    font-weight: bold;
    text-decoration: none;
    color: #00bc9c;
}

.section-copyright {
    height: 100px;
    line-height: 50px;
    background-color: #2c3e50;
}

.copyright {
    color: #fff;
    text-transform: capitalize;
    text-align: center;
}